/*
*   通用
*/
[v-cloak] { display: none; }
body {
	background: #EBF5DF;
	margin: 0;
	padding: 0;
	font-family: "宋体";
	font-size: 25px;
}
img {
	height: 50px;
	width: 50px;
}
li {
	margin: 10px 0 0 -40px;
}
/*按钮*/
.btn {
	border: none;
	height: 40px;
	width: 70px;
	font-size: 19px;
	font-family: "宋体";
	vertical-align: bottom;
}
.btn:hover {
	opacity:0.8;
}
.btn-primary {
	background: #337ab7;
}
.btn-success {
	background: #5cb85c;
}
.btn-danger {
	background: #d9534f;
}

/*
*   header
*/
.header {
	text-align: center;
}
h1 {
	font-size: 30px;
}
input {
	height: 35px;
	width: 50%;
	max-width: 300px;
	vertical-align:top;
	/*覆盖默认样式*/
	font-family: "宋体";
	font-size: 20px;
}
.main {
	width: 460px;
	margin: 0 auto;
}
.main input {
	border: none;
	width: 295px;
	background: inherit;
	font-size: 22px;
}
.finishImg {
	width: 38px;
	height: 38px;
}

/*
* footer
*/

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
}


