<!--如果给todos数组添加的对象加上id，如果是鼠标点击添加就是 MouseEvent，
	回车添加就是 KeyboardEvent，结果去掉id也正常运行，
	而且todos数组的对象可以通过vm.todos[index]访问，所以可以不加id
	但目前不清除deleteTodo(index)的index是怎么运行的-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todo List</title>
</head>
<body>
	<div id="todo-list-running">
		<input
			v-model="newTodoText"
			@keyup.enter="addNewTodo"
			placeholder="请输入新项目">
		<button @click="addNewTodo">添加</button>
		<button @click="deleteAll">清空</button>
		<ul>
			<li v-for="(todo, index) in todos">
				{{todo.title}}
				<button @click="deleteTodo(index)">完成</button>
			</li>
		</ul>
	</div>
</body>
<script src="vue.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el: '#todo-list-running',
		data: {
			newTodoText: '',
			todos: [
				{ title: 'Good Good Study' },
				{ title: 'Day Day Up' }
			]
		},
		methods: {
			addNewTodo: function () {
				this.todos.push({ title: this.newTodoText })
				this.newTodoText = ''
			},
			deleteTodo: function (index) {
				this.todos.splice(index, 1);
			},
			deleteAll: function () {
				this.todos = []
			}
		}
	})
</script>
</html>
